:root {
    --title-bar-h: 32px;
    --title-h: 22px;
    --foot-bar-h: 22px;
    --foot-bar-padding: 3px;
    /* --open-padding-right: 30px;
    --open-padding-top: 40px;
    --open-padding-bottom: 60px;
    --open-border: 3px;
    --open-border-radus: 10px; */
}

body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: var(--bg-color);
}

a {
    text-decoration: none;
    color: white;
}

.title-bar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    background-color: var(--title-bg-color);
    /* background-image: var(--title-bg-img); */
    height: var(--title-bar-h);
    -webkit-app-region: drag;
    overflow-x: hidden;
    border-bottom: var(--title-border);
    padding-top: var(--tool-padding);
    padding-left: 80px;
    user-select: none;
    /* padding-right: var(--tool-padding); */
}

button {
    height: calc(var(--title-bar-h) - var(--tool-padding));
    line-height: calc(var(--title-bar-h) - var(--tool-padding)*2);
    padding: 0 8px;
    margin: 0;
    border-radius: 5px;
    background: var(--btn-bg);
    /* background-image: var(--btn-img); */
    color: var(--btn-color);
    outline: none;
    border: var(--btn-border);
    /* margin-right: -4px; */
    /* padding-top: 2px; */
    /* margin-right: var(--tool-padding); */
}

button:hover {
    /* background: #f1f1f1; */
    /* cursor: pointer !important; */
    background: var(--btn-bg-hover);
    /* background-image: var(--btn-img-hover); */
}

button:active {
    background: var(--btn-bg-active);
}

button:disabled {
    /* background-image: var(--btn-img-disabled); */
    background: var(--btn-bg-disabled);
    color: var(--btn-color-disabled);
}

.title {
    display: none;
    /* -webkit-app-region: drag; */
    position: fixed;
    left: 150px;
    right: 170px;
    top: 0;
    /* padding-top: 9px; */
    height: calc(var(--title-bar-h) + var(--tool-padding));
    line-height: calc(var(--title-bar-h) + var(--tool-padding));
    user-select: none;
    font-size: var(--title-font-size);
    overflow-x: hidden;
    color: var(--title-color);
    display: inline-block;
}

.main {
    margin-top: var(--title-bar-h);
    height: calc(100% - var(--title-bar-h));
    overflow: hidden;
    /* padding:10px 0px; */
}

.container {
    /* background: #333; */
    height: 100%;
}

.img {
    /* border: 1px solid #111; */
    position: absolute;
    /* cursor: url('move.ico'),auto; */
    max-height: calc(100% - var(--title-bar-h));
    max-width: 100%;
    width: auto;
    height: auto;
    padding-top: calc(var(--title-bar-h));
    user-select: none;
}

.btn-to {
    cursor: pointer;
    position: fixed;
    top: var(--title-bar-h);
    height: calc(100% - var(--title-bar-h));
    color: var(--btn-to-color);
    padding: 0 30px;
    background: var(--btn-to-bg);
    /* visibility: hidden; */
    opacity: 0;
    user-select: none;
}

.btn-to:hover {
    opacity: 1;
}

.btn-txt {
    user-select: none;
    position: relative;
    top: calc(50% - var(--tool-padding)/2);
    /* transform: translateY( -50% ); */
}

.open-file {
    border: var(--open-border) dashed var(--bg-color);
    border-radius: var(--open-border-radus);
    position: fixed;
    top: calc(50% - 70px);
    width: 100%;
    /* top: calc(50% - 70px - var(--open-padding-top)/2 - var(--title-bar-h)/2); */
    /* left: calc(25% - var(--open-padding-right) - var(--open-border)); */
    /* width: 50%; */
    text-align: center;
    display: none;
    user-select: none;
    /* padding: var(--open-padding-top) var(--open-padding-right) var(--open-padding-bottom) var(--open-padding-right); */
}

.open-file h2 {
    color: var(--open-h2-color);
    user-select: none;
}

.foot-bar {
    position: fixed;
    /* right: 10px; */
    bottom: 10px;
    width: 100%;
    text-align: center;
    /* background: var(--title-bg-color); */
    height: var(--foot-bar-h);
    padding-bottom: var(--foot-bar-padding);
    /* border-top: var(--title-border); */
    /* background: #111; */
    /* border-radius: 5px; */
    /* background: var(--bg-color); */
    /* padding: 10px; */
}

.foot-bar label {
    padding: 5px;
    border-radius: 5px;
    margin: 0px;
    font-size: var(--title-font-size);
    color: var(--btn-to-color);
    background: var(--btn-to-bg);
    /* text-shadow:#000 1px 0 0,#000 0 1px 0,#000 -1px 0 0,#000 0 -1px 0; */
    /* background: #222;
    padding: 5px;
    border-radius: 5px; */
}